

<div class="container-fluid">
  <div class=" cart py-5" >
    <table class="table table-responsive orderDetails" >
      <thead>
        <tr>
          <th>Product</th>
          <th>Price</th>
          <th>Quantity</th>
          <th >Total</th>
          <th>Delete </th>
        </tr>
      </thead>
      <tbody>
        <tr >
          <td>Product</td>
          <td>Price</td>
          <td>
            <input type="number" [min]="1"    class="text-center" />
          </td>
          <td>total</td>
          <td>
            <a  ><i class="fa-solid fa-trash-can text-danger  fs-1" ></i>
            </a>
          </td>
        </tr>
        <tr>
          <td colspan="5">
            <hr class="border border-primary border-3 opacity-50">
          </td>
        </tr>
        <tr>
          <td colspan="4" class="fs-3">Total</td>
          <td>Total Sub</td>
        </tr>
        <tr>
          <td colspan="4" class="fs-3">Subtotal</td>
          <td>Total Sub</td>
        </tr>
      </tbody>
      </table>
      <hr class="border border-danger border-3 opacity-75">

      <div class="buttons">
        <button (click)="checkOut()" class="btn btn-primary" >Checkout</button>
      </div>
  </div>
</div>
